In [33]:
import pandas as pd
import sqlite3

In [34]:
df = pd.read_csv('merged_data.csv')

In [35]:
df.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,Real Estate Agent,Date,Distance,...,Regionname,Propertycount,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,0,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9
1,1,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9
2,2,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/06/2016,2.5,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9
3,3,Abbotsford,124 Yarra St,3,h,1876000,S,Nelson,7/05/2016,2.5,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9
4,4,Abbotsford,98 Charles St,2,h,1636000,S,Nelson,8/10/2016,2.5,...,Northern Metropolitan,4019,33,2167,1354,424,3024,1.0,2196,1.9

In [36]:
df.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'Real Estate Agent', 'Date', 'Distance', 'Postcode',
       'Number of Bedroom', 'Number of Bathroom', 'number of carpark',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'Median_age_persons',
       'Median_mortgage_repay_monthly', 'Median_tot_prsnl_inc_weekly',
       'Median_rent_weekly', 'Median_tot_fam_inc_weekly',
       'Average_num_psns_per_bedroom', 'Median_tot_hhd_inc_weekly',
       'Average_household_size'],
      dtype='object')

In [37]:
Mel_Rental_Market= df[['Suburb','Type', 'Method',
       'Real Estate Agent','Distance', 'Postcode',
       'Number of Bedroom', 'Number of Bathroom', 'number of carpark','Lattitude',
       'Longtitude','Median_rent_weekly']]

In [38]:
Mel_Rental_Market.head()

,Suburb,Type,Method,Real Estate Agent,Distance,Postcode,Number of Bedroom,Number of Bathroom,number of carpark,Lattitude,Longtitude,Median_rent_weekly
0,Abbotsford,h,S,Biggin,2.5,3067,2,1,0,-37.8079,144.9934,424
1,Abbotsford,h,SP,Biggin,2.5,3067,3,2,0,-37.8093,144.9944,424
2,Abbotsford,h,VB,Nelson,2.5,3067,3,1,2,-37.8072,144.9941,424
3,Abbotsford,h,S,Nelson,2.5,3067,4,2,0,-37.8024,144.9993,424
4,Abbotsford,h,S,Nelson,2.5,3067,2,1,2,-37.8060,144.9954,424

In [39]:
Mel_Rental_Market=Mel_Rental_Market.rename(columns={'number of carpark':'Number_of_Carpark',
                                                   'Lattitude': 'Latitude',
                                                   'Real Estate Agent': 'Real_Estate_Agent',
                                                   'Number of Bedroom':'Number_of_Bedroom',
                                                   'Number of Bathroom':'Number_of_Bathroom',
                                                   'Longtitude': 'Longitude'})

In [40]:
Mel_Rental_Market.head()

,Suburb,Type,Method,Real_Estate_Agent,Distance,Postcode,Number_of_Bedroom,Number_of_Bathroom,Number_of_Carpark,Latitude,Longitude,Median_rent_weekly
0,Abbotsford,h,S,Biggin,2.5,3067,2,1,0,-37.8079,144.9934,424
1,Abbotsford,h,SP,Biggin,2.5,3067,3,2,0,-37.8093,144.9944,424
2,Abbotsford,h,VB,Nelson,2.5,3067,3,1,2,-37.8072,144.9941,424
3,Abbotsford,h,S,Nelson,2.5,3067,4,2,0,-37.8024,144.9993,424
4,Abbotsford,h,S,Nelson,2.5,3067,2,1,2,-37.8060,144.9954,424

In [9]:
Mel_Rental_Market.shape

(8887, 12)

In [46]:
Mel_Rental_Market['id'] = range(len(Mel_Rental_Market))
Mel_Rental_Market.head()

,Suburb,Type,Method,Real_Estate_Agent,Distance,Postcode,Number_of_Bedroom,Number_of_Bathroom,Number_of_Carpark,Latitude,Longitude,Median_rent_weekly,id
0,Abbotsford,h,S,Biggin,2.5,3067,2,1,0,-37.8079,144.9934,424,0
1,Abbotsford,h,SP,Biggin,2.5,3067,3,2,0,-37.8093,144.9944,424,1
2,Abbotsford,h,VB,Nelson,2.5,3067,3,1,2,-37.8072,144.9941,424,2
3,Abbotsford,h,S,Nelson,2.5,3067,4,2,0,-37.8024,144.9993,424,3
4,Abbotsford,h,S,Nelson,2.5,3067,2,1,2,-37.8060,144.9954,424,4

In [47]:
#rearrange the columns
Mel_Rental_Market_cleaned=Mel_Rental_Market[['id','Suburb', 'Type', 'Method', 'Real_Estate_Agent', 'Distance', 'Postcode',
       'Number_of_Bedroom', 'Number_of_Bathroom', 'Number_of_Carpark',
       'Latitude', 'Longitude', 'Median_rent_weekly']]

In [48]:
Mel_Rental_Market_cleaned.head()

,id,Suburb,Type,Method,Real_Estate_Agent,Distance,Postcode,Number_of_Bedroom,Number_of_Bathroom,Number_of_Carpark,Latitude,Longitude,Median_rent_weekly
0,0,Abbotsford,h,S,Biggin,2.5,3067,2,1,0,-37.8079,144.9934,424
1,1,Abbotsford,h,SP,Biggin,2.5,3067,3,2,0,-37.8093,144.9944,424
2,2,Abbotsford,h,VB,Nelson,2.5,3067,3,1,2,-37.8072,144.9941,424
3,3,Abbotsford,h,S,Nelson,2.5,3067,4,2,0,-37.8024,144.9993,424
4,4,Abbotsford,h,S,Nelson,2.5,3067,2,1,2,-37.8060,144.9954,424

In [49]:
conn = sqlite3.connect('Melbourne.db')

# Save the DataFrame to an SQLite table
Mel_Rental_Market_cleaned.to_sql('Melbourne', conn, if_exists='replace', index=False)

# Close the database connection
conn.close()

In [50]:
# Connect to the database
conn = sqlite3.connect('Melbourne.db')
cursor = conn.cursor()

# Load the data into a DataFrame
df = pd.read_sql_query("SELECT * FROM Melbourne", conn)

# Create a new table with a primary key constraint
cursor.execute("CREATE TABLE Melbourne_2 (id INTEGER PRIMARY KEY, Suburb TEXT, Type TEXT, Method TEXT, Real_Estate_Agent TEXT, Distance REAL, Postcode INTEGER, Number_of_Bedroom INTEGER, Number_of_Bathroom INTEGER, Number_of_Carpark INTEGER, Latitude REAL, Longitude REAL, Median_rent_weekly INTEGER)")

# Commit the changes and close the connection
conn.commit()
conn.close()

In [51]:
# Connect to the database
conn = sqlite3.connect('Melbourne.db')
cursor = conn.cursor()

cursor.execute("INSERT INTO Melbourne_2 SELECT * FROM Melbourne")

conn.commit()
conn.close()